.cart-page {
	margin-top: 7vw;
	margin-bottom: 5vw;
}
.cart{
	width: 100%;
	margin-bottom: 2vw;
}
.cart-side-button{
	margin-bottom: 2vw;
}
.cart h2{
	color: rgba(33,33,33,0.9);
}
.cart-items {
	/*border: 1px solid rgba(33,33,33,0.4);*/
	margin-top: 2vw;
	/*border-radius: 10px;*/
	margin-bottom: 2vw;
	padding: 1vw;
	background-color: #aaa;
}
.item{
	background-color: rgba(255,255,255,0.9);
	width: 100%;
	padding: 1vw 2vw;
	margin: 2vw 0;
	margin-top: 2vw;
}
.item img{
	width: 100%;
}
.item h3{
	color: rgba(33,33,33,0.8);
}
.summary-container{
	margin-top: 5vw;
}
.card{
	height: auto !important;
}
.summary{
	width: 100%;
	padding: 2vw;
}
.summary h3, .summary h4{
	color: rgba(33,33,33,0.8);
}
.summary h5{
	font-weight: normal;
}
.summary p{
	font-size: 14px;
}
.summary p span{
	font-weight: 500;
}
hr{
	width: 100%;
	border-color: #000;
}