.container {
	margin-top: 3vw;
}
.cart{
	width: 100%;
}
.cart-items {
	border: 1px solid rgba(33,33,33,0.4);
	margin-top: 2vw;
	border-radius: 10px;
	margin-bottom: 2vw;
}
.item{
	width: 100%;
	padding: 1vw 2vw;
	margin: 2vw 0;
}
.item img{
	width: 100%;
}

.summary{
	width: 100%;
	border-radius: 10px;
	margin-top: 2vw;
	border: 1px solid rgba(33,33,33,0.4);
	padding: 2vw;
}
.summary h5{
	font-weight: normal;
}
.summary p{
	font-size: 14px;
}
.summary p span{
	font-weight: 500;
}
hr{
	width: 100%;
	border-color: #000;
}